.helping-button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.help-button {
  border-radius: 100%;
  width: 79px;
  height: 79px;
  background-color: #606364;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-button i {
  color: #fff;
}
