.footer {
  padding: 88px 80px;
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  background-color: #4D4D4D;
}

.footer-text {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #E3E5E6;
  text-decoration: none;
}

.footer-heading {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-category{
  color: #E3E5E6;
  text-decoration: none;
}
  
.footer-block {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  justify-content: flex-start;
}

.footer-logo-text{
  display: flex;
  flex-direction: column;
}

.footer-icons {
  display: flex;
}

.footer-icon {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}

.footer-description {
  width: 400px;
}
