.App {
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.layout {
  margin: 30px 177px 50px;
  padding: 28px;
  min-height: 500px; /* todo: 200px */
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
}

.app-help-button {
  position: fixed;
  bottom: 28px;
  right: 16px;
  z-index: 4;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
